.container-body {
    justify-content: space-between;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    padding-top: 10%;
    gap: 10%;
}

.text {
    flex: 1;
}

.text-body {
    flex: 1;
    text-align: left;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.text-body-right {
    flex: 1;
    text-align: right;
}

.WordCard {
    max-width: 100%;
}

.WordCard2 {
    max-width: 100%;
    object-fit: cover;
}

.confine {
    min-width: 1000px;
}

.image-blue {
    flex: 1;
    width: 450px;
}

.container-white {
    background-color: white;
    align-items: center;
    padding-top: 50px;
    width: 100%; /* 让宽度自适应 */
}

.container-small {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    padding-bottom: 12%;
}

.medium-text-blue {
    font-size: 25px;
    font-weight: 900;
    color: #00366d;
    line-height: 1;
    margin-top: 0px;
    line-height: 150%;
}

.large-text {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 5px;
}

.medium-text {
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255, 0.8);
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 60px;
}

.small-text-white {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 5px;
    color: #fff;
}

.small-text-yellow {
    font: 600 25px;
    line-height: 1.5;
    margin-bottom: 5px;
    color: #ffb500;
}

.subscribe-button-1 {
    background-color: #ffb500;
    font-size: 14px;
    height: 40px;
    padding: 0% 4%;
    font-weight: 800;
    color: white;
    border: none;
    border-radius: 999px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
}

.subscribe-button {
    background-color: #ffb500;
    font-size: 14px;
    font-weight: 800;
    color: white;
    border: none;
    border-radius: 999px;
    padding: 3% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
}

.slider-container {
    display: flex;
    flex-direction: column; /* 垂直布局 */
    align-items: flex-start; /* 靠左对齐 */
    position: relative;
    margin-bottom: 5%;
}

.slider-container-middle {
    display: flex;
    flex-direction: column; /* 垂直布局 */
    align-items: center; /* 靠左对齐 */
    position: relative;
}

.slider-image {
    width: 400px;
    height: auto;
    margin-top: 25px;
    display: block;
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 8px;
    margin: 0 5px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.3s, height 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.dot:hover {
    width: 30px;
    background-color: #ffb500;
    box-shadow: 0 0 10px #ffb500;
}

.dot.active {
    width: 30px;
    background-color: #ffb500;
    box-shadow: 0 0 10px #ffb500;
}

.greydot {
    display: inline-block;
    width: 15px;
    height: 8px;
    margin: 0 5px;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: pointer;
    transition: width 0.3s, height 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.greydot.active {
    width: 30px;
    background-color: #ffb500;
    box-shadow: 0 0 10px #ffb500;
}
