.mentor-fullscreen-container {
    display: flex;
    height: 800px;
    width: 100%;
    height: auto;
    background-color: white;
}

.mentor-center-content {
    display: flex; 
    padding-left: 200px;
    padding-right: 200px;
    justify-content: flex-start;
    padding-top: 200px;
    padding-bottom: 150px;
}

.subscribe-button {
    background-color: #FFB500; 
    height:40px;
    font-size: 14px;
    font-weight: 800;
    color: white; 
    border: none; 
    border-radius: 999px; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer; 
}
