.navbar {
    width: 100%; /* 宽度占满整个屏幕 */
    background-color: #00366D; 
  }
.logo-header {
    margin-right: auto; /* 将 Logo 推到左侧 */
  }

.logo-img {
  max-width: 100px; 
}

.link1 {
  color: #FFFFFF;
  margin-left: 40px;
  font-weight: bold;
  text-decoration: none;
}

.nav-link {
  color: #FFFFFF;
  margin-left: 20px;
  font-weight: bold;
}

.link1:hover {
  color: #FFB500; 
}

.logo-img {
  max-width: 100px; 
}
  
.ml-auto {
    margin-left: auto; /* 将 Login/Signup 推到右侧 */
}

.custom-button {
    background-color: rgba(255, 255, 255, 0.1); 
    font-size: 14px;
    font-weight: 800;
    color: white; 
    border: none; 
    border-radius: 999px; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer; 
  }
  
  .custom-button:hover {
    background-color: rgba(255, 255, 255, 0.4); 
  }



