.navbar {
    width: 100%; /* 宽度占满整个屏幕 */
    background-color: #00366D; 
}  

.logo-img {
  max-width: 100px;
}

.link1 {
  color: #FFFFFF;
  margin-left: 40px;
  font-weight: 600;
  text-decoration: none;
}

.link1:hover {
  color: #FFB500; 
}

.link1.active{
  color: #FFB500; 
}

.custom-button {
    background-color: rgba(255, 255, 255, 0.1); 
    font-size: 14px;
    font-weight: 600;
    color: white; 
    border: none; 
    border-radius: 999px; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer; 
  }
  
.custom-button:hover {
    background-color: rgba(255, 255, 255, 0.4); 
}



