.aboutus-center-content {
    justify-content: space-between; 
    display: flex; /* 使用flexbox布局 */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    gap:10%;
}

.image-container{
    position: relative;
    width: 100%;
    padding-bottom: 5%;
}

.button-container{
    gap: 8%;
    position: absolute;
    right: 23%;
    bottom: 28%;
    display: flex;
    align-items: center; 
}

.subscribe-button2 { 
    font-size: 14px;
    font-weight: 800;
    color: white; 
    border: none; 
    border-radius: 999px; 
    padding: 5% 20%; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    cursor: pointer; 
    white-space: nowrap;
}



.halfscreen-box {
    flex: 1; 
}