.mentor-fullscreen-container {
    display: flex;
    height: 800px;
    width: 100%;
    height: auto;
    background-color: white;
}

.mentor-center-content {
    display: flex; 
    padding-left: 10%;
    padding-right: 10%;
    justify-content: flex-start;
    padding-top: 15%;
    padding-bottom: 10%;
}
